@use 'variables';

$color-menta: #26f0c5;
$color-negro: #1a1a1a;
$color-bg: #f8f9fa;
$color-text-grey: #717171;
$color-error: #ff6565;
$radius-xl: 32px;
$radius-md: 16px;
$shadow-soft: 0 10px 40px rgba(0, 0, 0, 0.06);
$shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
$color-blue-loud: #2563eb;
$bg-light: #f8fafc;

.all-navbar {
    background-color:$color-bg;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: $shadow;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    z-index: 1000; // Por encima de todo
    margin-bottom: 0.5rem;

    .nav-container {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-logo {
        font-size: 1rem;
        font-weight: 800;
        text-decoration: none;
        color: $color-negro;

        span {
            color: $color-menta;
        }
    }

    .nav-links {
        display: flex;
        list-style: none;
        gap: 0.8rem;

        a,
        .nav-icon-btn {
            background: none;
            border: none;
            text-decoration: none;
            color: $color-negro;
            display: flex;
            align-items: center;

            span {
                // OCULTAR TEXTO EN MÓVIL
                display: none;
            }

            svg {
                width: 22px;
                height: 22px;
            }
        }
    }

    .nav-user-actions {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border-left: 1px solid #eee;
        padding-left: 1.5rem;

        .perfil-link {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: $color-negro;
            font-weight: 600;

            span {
                // Ocultar palabra "Perfil" en móvil
                display: none;
            }
        }

        .btn-logout {
            background: none;
            border: none;
            color: $color-error;
            cursor: pointer;
            padding: 5px;
            display: flex;
            align-items: center;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    // --- DESKTOP (Pantallas grandes) ---
    @media (min-width: 768px) {
        height: 70px;

        .nav-container {
            width: 90%;
        }

        .nav-logo {
            font-size: 1.8rem;
        }

        .nav-links {
            gap: 2rem;

            a,
            .nav-icon-btn {

                // MOSTRAR TEXTO EN DESKTOP
                span {
                    display: inline;
                    font-size: 0.95rem;
                    font-weight: 500;
                }

                gap: 8px;
            }
        }

        .nav-user-actions {
            gap: 1.5rem;
            padding-left: 1.5rem;

            .perfil-link span {
                display: inline;
            }
        }
    }
}