@import './variables';

// CONTENEDOR PRINCIPAL
.home-container {
  background-color: $color-bg;
  min-height: 100vh;
  padding: 2rem 5%;
  font-family: 'Inter', sans-serif;

  // CABECERA DE BIENVENIDA
  .home-header {
    margin-bottom: 3rem;
    padding-top: 2rem;

    h1 {
      font-size: 3rem;
      color: $color-negro;
      line-height: 1.2;
      font-weight: 800;
      span {color: $color-menta;}
    }
  }

  // EL GRID DE CASAS 
  .houses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2.5rem;
    max-width: 1400px;
    margin: 0 auto;
  }
}

// PublicHouseCard
.house-item {
  background: white;
  border-radius: $radius-md;
  overflow: hidden;
  box-shadow: $shadow-soft;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  }

  .img-container {
    position: relative;
    height: 240px;
    width: 100%;
    background-color: #f1f5f9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .house-info {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .badge {
      align-self: flex-start;
      padding: 0.3rem 0.8rem;
      border-radius: 50px;
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1rem;
      letter-spacing: 0.5px;

      &.disponible {
        background: #e7fdf4;
        color: #033424;
      }

      &.reservada {
        background: #fee2e2;
        color: #980202;
      }
    }

    h3 {
      font-size: 1.4rem;
      margin-bottom: 0.75rem;
      color: $color-negro;
    }

    .location {
      display: flex;
      align-items: center;
      gap: 6px;
      color: $color-text-muted;
      font-size: 0.95rem;
      margin-bottom: 1rem;
    }

    .price {
      margin-top: auto;
      font-size: 1.5rem;
      font-weight: 800;
      color: $color-negro;

      span {
        font-size: 0.9rem;
        color: $color-text-muted;
        font-weight: 400;
      }
    }
  }
}

// ESTILO PARA EL LOADING
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5rem;
  font-weight: 600;
  color: $primary-color;
}