@use './variables';

.house-details-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;

    h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    // --- BLOQUE GALERÍA  ---
    .gallery-container {
        margin-bottom: 2rem;

        // altura para que librería sepa dónde recortar
        .image-gallery-slide {
            height: 450px; // Altura en desktop
            background-color: #e2e8f0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        // Miniaturas 
        .image-gallery-thumbnail {
            border-radius: variables.$radius-md;


            img {
                object-fit: cover;
                height: 80px;
                width: 100%;
            }
        }

        @media (max-width: 600px) {
            .image-gallery-slide {
                height: 250px; // Altura en móvil
            }
        }
    }

    // INFO
    .info-wrapper {
        border-top: 1px solid #eee;
        padding-top: 1rem;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            margin-top: 1rem;
        }

        p {
            line-height: 130%;
            font-size: 1.2rem;
        }

        .house-info {
            display: flex;
            flex-direction: column;
            gap: 20%;
            margin-top: 4%;

            span {
                font-size: 1.2rem;
                font-weight: bold;
                line-height: 135%;
                margin-bottom: 4%;
            }

            .price {
                font-size: 1.4rem;
                font-weight: bold;
                margin: 1rem 0;
            }

            .info {
                display: inline-block;
                align-self: flex-start;
                padding: 0.3rem 0.8rem;
                border-radius: 10px;
                font-size: 1rem;
                text-align: left;
                text-transform: uppercase;
                letter-spacing: 0.9px;

                &.disponible {
                    background-color: #dcfce7;
                }

                &.reservada {
                    background-color: variables.$color-error;
                }

            }
        }
    }

    // BOTONES
    .actions-section {
        margin-top: 2rem;
        width: 100%;
        display: flex;

    }

    .actions-section>* {
        flex: 1;
    }

    .btn-fav,
    .btn-reserve,
    .btn-edit {
        padding: 1rem;
        border-radius: variables.$radius-md;
        font-weight: 600;
        border: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    .btn-fav {
        color: variables.$color-negro;
    }

    .btn-reserve {
        color: variables.$color-negro;
    }

    .btn-edit {
        background: variables.$color-negro;
        color: #fff;
    }

}