@use './variables';

.house-details-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;

    h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    // --- BLOQUE GALERÍA  ---
    .gallery-container {
        margin-bottom: 2rem;

        // altura para que librería sepa dónde recortar
        .image-gallery-slide {
            height: 400px; // Altura en desktop
            background-color: #e2e8f0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        // Miniaturas 
        .image-gallery-thumbnail {
            border-radius: variables.$radius-md;
            overflow: hidden;

            img {
                object-fit: cover;
                height: 80px;
                width: 100%;
            }
        }

        @media (max-width: 600px) {
            .image-gallery-slide {
                height: 250px; // Altura en móvil
            }
        }
    }

    // INFO
    .info-wrapper {
        border-top: 1px solid #eee;
        padding-top: 1.5rem;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        p {
            line-height: 130%;
            font-size: 1.2rem;
        }

        .house-info {
            display: flex;
            flex-direction: column;
            gap: 20%;
            border-top: 1px solid #eee;
            margin-top: 3%;

            span {
                font-size: 1.2rem;
                font-weight: bold;
                line-height: 130%;
                margin-bottom: 4%;
            }

            .price {
                font-size: 1.4rem;
                font-weight: bold;
                margin: 1rem 0;
            }

            .info {

                padding: 5px 15px;
                border-radius: 20px;
                font-size: 1rem;
                width: 30%;
                text-align: left;
                text-transform: uppercase;


                &.disponible {
                    background-color: variables.$exito;
                }

                &.reservada {
                    background-color: variables.$color-error;
                }

            }
        }
    }

    // BOTONES
    .actions-section {
        margin-top: 2.5rem;
        padding: 2rem;
        border-radius: variables.$radius-md;
        width: 60%;

        .btn-edit,
        .btn-fav,
        .btn-reserve {
            display: block;
            width: 100%;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 10px;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            border: none;
            cursor: pointer;
        }

        .btn-reserve {
            background-color: variables.$color-menta;
            color: variables.$color-negro;
        }

        .btn-edit {
            background-color: variables.$color-negro;
            color: white;
        }
    }
}