@use './variables';

//QUITAR ESTAS VARIABLES DE AQUI, LAS PONGO DE MOMENTO PORQUE ME DA PROBLEMAS AL IMPORTAR
$color-menta: #26f0c5;
$color-negro: #1a1a1a;
$color-bg: #f8f9fa;
$color-text-grey: #717171;
$color-error: #ff6565;
$radius-xl: 32px;
$radius-md: 16px;
$shadow-soft: 0 10px 40px rgba(0, 0, 0, 0.06);
$shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
$color-blue-loud: #2563eb;
$bg-light: #f8fafc;

.capa-favorito {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    color: $color-negro;
    transition: all 0.3s ease;

    &.active {
        color: $color-error;
        background: white;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.favs-header {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
    text-align: center;

    h1 {
        svg {
            transform: translateY(4px); // ajustar px para bajar el corazon. svg es el formato del archivo que no es img
        }
    }

    h1 span {
        color: #ff4b5c; // Un rojo corazón, por ejemplo

    }
}

.error-empty-favs {
    font-size: 1.7rem;
    font-weight: 500;
    max-width: 400px;
    margin-top: 7%;

}