@use './variables';

.capa-favorito {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    color: variables.$color-negro;
    transition: all 0.3s ease;

    &.active {
        color: variables.$color-error;
        background: white;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.favs-header {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
    text-align: center;

    h1 {
        svg {
            transform: translateY(4px); // ajustar px para bajar el corazon. svg es el formato del archivo que no es img
        }
    }

    h1 span {
        color: #ff4b5c; // Un rojo corazón, por ejemplo

    }
}

.error-empty-favs {
    font-size: 1.7rem;
    font-weight: 500;
    max-width: 400px;
    margin-top: 7%;

}